<div class="container mt-2">
  <h1 class="mb-2">Bemutató oldal</h1>
  <h2 class="h5">Az aplikáció célja</h2>
  <p>
    A projekt első célja a dohányzás káros hatásaira való felhivás. Ezért
    gyöjöttem össze a legfonstoabb káros hatásokat amit a dohányzás gyakoroló a
    szerveztedre. <br />
    A második célj a leszokáskór érezhető elvonási tünetek és lépésések
    bemutatása.
    <br />
    A harmadik cél az angular keretrendszerrel való megismerkedés volt. A CLI
    használata router, Input Output használata és egy CRUD program készitése
    amiben a a MEAN staket használom
  </p>
  <h2 class="h5">Az aplikáció haszálata</h2>
  <p>
    Az aplikáció segitségével lehet vezetni melyik nap hány szál cigit sziv el a
    felhasználó. Amit egy táblázatban tud vezetni. Ez mellett belehet állitani
    egy pack cigi árát, pack szálak darab számát és egy cigi elszivási idejét. A
    táblázat megadott értékek alpaján megjeleniti az egy szál értékét. Ezeket az
    adatokat lehet törölni és megváltoztatni, vagy új adatokat létrehozni.
  </p>
  <h3 class="h6">jövöbeni lehetésge fejlesztési irányzatok</h3>
  <ul>
    <li>
      valuta rendszere használata. több valutában megmutatni az adatokat pl GBP,
      HUF
    </li>
    <li>
      chetbot léthezosá amiben lehet beszélngetni hasznos tibbekről a
      leszokásban.
    </li>
  </ul>
  <h2 class="h5">Köszönetnyilvánitás</h2>
  <p>
    Köszönöm, hogy megnézted a weboldalamat! Remélem, hogy hasznosnak találtad
    az itt található információkat. Ha bármilyen kérdésed, észrevételed vagy
    ötleted van, nyugodtan írj nekem, és szívesen segítek, amiben tudok.
  </p>
</div>
