<div class="container">
  <h1>Leszokás lépései </h1>
  <ul>
    <li>
      20 perc múlva a vérnyomás és a pulzus normalizálódik, a vérkeringés javul
    </li>
    <li>
      8-12 óra múlva a szénmonoxid szint a vérben csökken, javul a fizikai
      közérzet
    </li>
    <li>24-48 óra múlva a vérből a szénmonoxid teljesen eltűnik</li>
    <li>
      2-3 nap múlva kevesebb nyák képződik a garatban, csökkennek a légzési
      panaszok, és a köhögés, krákogás
    </li>
    <li>
      5-7 nap múlva az ízlelés és szaglás javul, a lélegzet frissebb, a fogak
      tisztábbak, és az illető energikusabbnak érzi magát,a terhelést jobban
      bírja
    </li>
    <li>
      2-3 héten belül a megvonási tünetek enyhülnek vagy megszűnnek, és az
      illető már több órára is képes megfeledkezni a dohányzás csábításáról, a
      sóvárgásról.
    </li>
    <li>2-3 hét múlva a vérrögképződés kockázata csökken az erekben</li>
    <li>
      4 hét múlva a köhögés és a légzési problémák rendeződnek, több lesz az
      energia, nagyobb az ellenállóképesség, kevesebb a légúti hurut
    </li>
    <li>2-3 hónap múlva a légzésfunkciós értékek javulhatnak</li>
    <li>
      1 év múlva a szív-érrendszeri betegségek kockázata a felére csökken.
    </li>
    <li>
      2-3 év múlva a légúti betegség kialakulása és szövődményeinek kockázata
      (súlyos tüdőgyulladás) már nem magasabb a sosem dohányzókkal
      összehasonlítva!
    </li>
    <li>
      5 év múlva a tüdő-, garat-, nyelőcső- és hólyagrák kockázata felére
      csökken,
    </li>
    <li>
      5-10 év múlva a keringési betegségek és a trombózis kockázata megegyezik a
      nemdohányzókéval
    </li>
    <li>
      10 év múlva a tüdőrák kockázata feleződik, csökken a csontritkulás
      kockázata
    </li>
    <li>
      15-20 év múlva a tüdő-, garat-, nyelőcsőrák és hólyagrák kockázata a
      nemdohányzókéval megegyezik
    </li>
  </ul>
</div>
