<div class="container">
  <div>
    <h1>Mi a dohányzás</h1>
  </div>
  <div>
    <h2>Mi a dohányzás</h2>
    <p>
      A dohányzás a burgonyafélék családjába tartozó dohánynövény leveleinek
      olyan élvezete, amikor a szárított növény égetése során keletkező füstöt
      beszívják. Ősidők óta ismert Kr. e. 5000–3000), hogy vannak növények,
      amiket meggyújtva és az izzó növény füstjét beszívva élénkítő vagy kábító
      hatást érhetünk el. Valószínűleg először Kolumbusz és társai találkoztak
      pipázó indiánokkal, és ők hozták be Európába ezt a szokást, ahol a 16.
      század végére terjedt el tömegesen. A dohányzás az alkohol után a második
      legtöbb halálos áldozatot követelő legális élvezeti szer. 
    </p>
  </div>
  <div>
    <h2>Mi van a cigiben?</h2>
    <div class="d-flex flex-row">
      <p class="text">
        Mi van a cigiben? A cigarettában és annak az égés során keletkező
        füstjében körülbelül 4000 különböző anyag található, ebből 70
        bizonyítottan rákkeltő (csak néhány azon anyagok közül, amelyek az
        egészséget károsítják: benzol, kadmium, ammónia, hidrogén-cianid,
        aceton, DDT, formaldehid, polónium). A nikotin (vagy az alternatív
        termékekben: nikotin só) minden dohánytermékben jelen van. Ez az erős
        vegyület egy legális drog, amely a függőség kialakulásáért és
        fenntartásáért felel. Halálos dózisa 20–60 mg (1 szál cigaretta
        átlagosan 1 mg nikotint tartalmaz). Számos módon hat a szervezetre:
        aktiválja a szimpatikus idegrendszert, szűkíti az artériákat, növeli a
        vérnyomást és a pulzust, emeli a vércukor- és koleszterinszintet.
        Annyira káros, hogy rovarirtóként is kiválóan alkalmazható. A vér
        nikotinszintje kb. 1,5–2 óra alatt feleződik, általában ennyi idővel az
        utolsó cigaretta elszívása után jelentkezik a sóvárgás. Ha a szervezet
        ilyenkor nem jut hozzá, akkor a dohányos ingerlékenyebb, nyugtalanabb és
        dekoncentráltabb lehet, esetleg gyakrabban érzi magát éhesnek. Ezek az
        első megvonási tünetek, amelyek szerencsére leszokást követően pár nap,
        esetleg néhány hét alatt enyhülnek. A dohánytermékekben található
        anyagok közül, sokaknak eszébe jut a nikotin mellett a kátrány, valamint
        a szén-monoxid is. Az előbbi égése okozza a jellegzetes, sokak számára
        büdös szagot, ez rakódik le a légzőrendszerben, valamint ez az, ami
        csökkenti a tüdő aktív légzőfelületét is. 
      </p>
      <div class="img">
        <img src="/assets/cigi01.jpg" alt="image" />
      </div>
    </div>
  </div>
</div>
